@page
@using EPiServer.Web.Mvc.Html
@model EpiSvelte.Models.Pages.LandingPageModel
@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}


<h1 class="text-4xl" @Html.EditAttributes(x => x.CurrentContent.Title)>@Model.CurrentContent.Title</h1>
<p @Html.EditAttributes(x => x.CurrentContent.Intro)>@Model.CurrentContent.Intro</p>
@Html.PropertyFor(x => x.CurrentContent.Blocks)
