@using EpiSvelte.Extensions;

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/build/style.css" rel="stylesheet" />
    @await RenderSectionAsync("HeadSection", required: false)
    @Html.RenderJavaScripts()
    @Html.RenderStyles()
</head>

<body class="bg-zinc-900">
    
    <cache expires-after="@TimeSpan.FromMinutes(5)">
        @await Component.InvokeAsync("Header")
    </cache>
 
    <div class="container m-auto">
        @RenderBody()
    </div>
   
    
</body>

</html>
